### all steps and instructions of this py file



1.read all csv

2.def clean(tweet): that will clean @___/ #/ links. we keep retweets because we think there are still some relations between retweets and btc

3.generate 3 columns: polarity, subjectivity, polarity2(+/-/0)

In [45]:
# pip install textblob

In [46]:
import pandas as pd
import re # cleaning text
from textblob import TextBlob #sentiment analysis

In [47]:
elon =  pd.read_csv('merged_data_elonmusk.csv') #read all csv files
CathieDWood =  pd.read_csv('merged_data_CathieDWood.csv')
chamath =  pd.read_csv('merged_data_chamath.csv')
LilMoonLambo =  pd.read_csv('merged_data_LilMoonLambo.csv')
tyler =  pd.read_csv('merged_data_tyler.csv')
UniswapD =  pd.read_csv('merged_data_UniswapD.csv')
VitalikButerin =  pd.read_csv('merged_data_VitalikButerin.csv')

In [48]:
def clean(tweet): # Remove @xxx, #, links #then insert col to df right of tweet
    #we keep retweets because we think there are still some relations between retweets and btc
    tweet = re.sub(r"https?:\/\/\S+", "", tweet)
    tweet = re.sub(r"#", "", tweet)
    tweet = re.sub(r"@[A-Za-z0-9]+", "", tweet)
    return tweet

In [49]:
def insert_clean_col(df): #insert col with cleaned text, just next to tweet col
    df.insert(loc=3, column='cleanedtweet', value=df["tweet"].apply(clean))

In [50]:
insert_clean_col(elon)
insert_clean_col(CathieDWood)
insert_clean_col(chamath)
insert_clean_col(LilMoonLambo)
insert_clean_col(tyler)
insert_clean_col(UniswapD)
insert_clean_col(VitalikButerin)

In [51]:
elon.head(2)

,Unnamed: 0,date,tweet,cleanedtweet,Unnamed: 0.1,Close,Volume,return% 1m,return% 10m,return% 30m,...,volume 6h,volume 12h,volume 1d,volat 1m,volat 10m,volat 30m,volat 1h,volat 3h,volat 6h,volat 12h
0,0,2021-07-19 19:38:00,"@jack @BitcoinMagazine @CathieDWood Sure, I ha...","Sure, I have a ton",3146,30685.65,0.339049,0.053673,0.013752,0.186146,...,323.277568,1133.838368,2437.075885,0.0,0.040946,0.057034,0.048093,0.045262,0.058355,0.088526
1,1,2021-07-19 19:26:00,@BitcoinMagazine @jack @CathieDWood During thi...,"During this talk, we will sing a cover of T...",3158,30673.94,0.894879,0.075341,0.080785,0.247963,...,325.051277,1138.907788,2435.407276,0.0,0.033932,0.048331,0.048193,0.045017,0.057394,0.088330

In [52]:

# define a function, that can return two columns, polarity and subjectivity analysis of the cleanedtweet column
def sub_and_polar_col(df):
    return pd.Series([TextBlob(df["cleanedtweet"]).sentiment.polarity, TextBlob(df["cleanedtweet"]).sentiment.subjectivity])

#this one is just for kinda 'visualizing' polarity by changing to positive, negative, 0 instead of numbers
def polar2_col(value):
    if value == 0:
        return "0"
    elif value > 0:
        return "positive"
    else:
        return "negative"

def insert_sub_pol_col(df): #insert polarity, subjectivity, and polarity2(+-0) three columns into df
    df[["polarity","subjectivity"]] = df.apply(sub_and_polar_col, axis=1) #axis1 means column
    df[['polarity2']]=df['polarity'].apply(polar2_col)

In [53]:
#use the function for all df
insert_sub_pol_col(elon)
insert_sub_pol_col(CathieDWood)
insert_sub_pol_col(chamath)
insert_sub_pol_col(LilMoonLambo)
insert_sub_pol_col(tyler)
insert_sub_pol_col(UniswapD)
insert_sub_pol_col(VitalikButerin)

In [54]:
elon.head(1) #just to check

,Unnamed: 0,date,tweet,cleanedtweet,Unnamed: 0.1,Close,Volume,return% 1m,return% 10m,return% 30m,...,volat 1m,volat 10m,volat 30m,volat 1h,volat 3h,volat 6h,volat 12h,polarity,subjectivity,polarity2
0,0,2021-07-19 19:38:00,"@jack @BitcoinMagazine @CathieDWood Sure, I ha...","Sure, I have a ton",3146,30685.65,0.339049,0.053673,0.013752,0.186146,...,0.0,0.040946,0.057034,0.048093,0.045262,0.058355,0.088526,0.5,0.888889,positive

In [55]:
#save df with a new name

elon.to_csv('elon_time_tweet_cleaned_btc_polar_sub_+-0.csv')
CathieDWood.to_csv('CathieDWood_time_tweet_cleaned_btc_polar_sub_+-0.csv')
chamath.to_csv('chamath_time_tweet_cleaned_btc_polar_sub_+-0.csv')
LilMoonLambo.to_csv('LilMoonLambo_time_tweet_cleaned_btc_polar_sub_+-0.csv')
tyler.to_csv('tyler_time_tweet_cleaned_btc_polar_sub_+-0.csv')
UniswapD.to_csv('UniswapD_time_tweet_cleaned_btc_polar_sub_+-0.csv')
VitalikButerin.to_csv('VitalikButerin_time_tweet_cleaned_btc_polar_sub_+-0.csv')